<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="styleshee" href="/mvc-tech-blog/Develop/public/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <!-- If logged in, will show logout link and if logged out, will show login -->
        {{#if logged_in}}
        {{!-- <a href="/dashboard">Dashboard</a> --}}
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <li class="nav-item">
          <a href="/login" class "nav-item">Login</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<main class="container container-fluid mt-5">   
{{{ body }}}
</main>


<h3>Need to sign up?</h3>
<a href ="/signup">Click Here</a> |




</body>
</html>